{% extends 'base.html' %}
{% block title %}Checkout{% endblock %}
{% block content %}
<div class="container my-5">
    <h1 class="mb-4">Checkout</h1>
    <div class="card">
        <div class="card-body">
            
            
            <p class="card-text">
                <strong>Total Price:</strong> ₦{{ total_price }}
            </p>
            <div class="mt-4">
                <h5>Pay with PayPal</h5>
                {{ paypal.render }}
            </div>
        </div>
    </div>
    <a href="{% url 'add_to_cart' product.id %}" class="btn btn-secondary mt-4">Back to Cart</a>
    <style>
        
    </style>
</div>
{% endblock %}
